<footer class="container">
</footer>
<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
<script src="{{ '/assets/js/swiper.js' | url }}"></script>

<script>
    const swiper = new Swiper('.swiper', {
    speed: 400,
    slidesPerView: 3,
    navigation: {
      nextEl: '.industries-swiper__next',
      prevEl: '.industries-swiper__prev',
    },
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
    },
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
      },
      // when window width is >= 480px
      480: {
        slidesPerView: 2,
        spaceBetween: 30
      },
      // when window width is >= 640px
      640: {
        slidesPerView: 3,
        spaceBetween: 60
      }
    }
  });
</script>