<section class="smart-platform" id="industries">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h1 class="heading-1 with-dots">Neurologic Smart Platform</h1>
      </div>
    </div>

    <div class="row smart-platform--nav">
      <ul class="nav nav-pills" id="v-pills-tab" role="tablist">
        {% for items in smartPlatform %}
        <li class="nav-item">
          <a class="nav-link {% if loop.index == 1 %} active {% endif %}" aria-current="page" href="#"
          id="v-pills-{{ items.id }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{items.id}}" type="button" role="tab" aria-controls="v-pills-{{ items.id }}" aria-selected="true"
          >{{ items.tab }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="tab-content" id="v-pills-outerTabContent">
        {% for item in smartPlatform %}
            <div class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}" id="v-pills-{{ item.id}}" role="tabpanel" aria-labelledby="v-pills-{{ item.id }}-tab">
                <div class="row smart-platform__paragraph" id="{{ item.id }}-paragraph">
                    <div class="col-sm-12 com-md-12">
                        <h2 class="smart-platform__heading text-center">{{ item.heading }}</h2>
                        <p class="paragraph-m">{{ item.sub_heading }}</p>
                    </div>
                </div>
                <div class="row smart-platform__child" id="{{ item.id }}-data">
                    <div class="col-sm-12 col-md-4">
                        <ul class="smart-platform__list">
                            {% for subItem in item.tile %}
                            <li class="smart-platform__list--li {% if loop.index == 1 %} active {% endif %}" id="{{ subItem.id }}-tab" data-bs-target="#{{ subItem.id }}">
                            <a href="javascript:void(0)"> {{ subItem.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content col-sm-12 col-md-8" id="v-pills-innerTabContent">
                        {% for subItem in item.tile %}
                        <div class="tab-pane {% if loop.index == 1 %} active {% endif %}" id="{{ subItem.id }}" role="tabpanel">
                            <div class="smart-platform__list--wrapper">
                                <picture class="smart-platform__list--picture">
                                    <source srcset="{{ subItem.image }}" type="image/webp">
                                    <source srcset="{{ subItem.image }}" type="image/png" >
                                    <img src="{{ subItem.image }}" alt=""/>
                                </picture>
                                <div class="smart-platform__list--para">
                                    <p>
                                        {{ subItem.description }}
                                    </p> 
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</section>
