<section class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h1 class="heading-1 with-dots">Team</h1>
      </div>
    </div>
    <div class="team-swiper" style="overflow-y:hidden">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide team-row-col open-individual-info-modal"
          type="button"
        >
          <div class="team-img">
            <img src="/img/team-1.png" alt="" class="img-responsive" />
          </div>
          <div
            class="team-description"
            data-description="Nishan is a full stack data scientist with 6 years of experience
          across diversified areas of AI/ML; Healthcare, CRM, Sourcing and HR
          Analytics. He has been instrumental in building high performance end
          to end products of AI/ML."
          >
            <h3 class="team-heading">Nishan Ali</h3>
            <h4 class="team-heading--sub">Founder & AI/ML Engineer</h4>
          </div>
        </div>

        <div class="swiper-slide team-row-col open-individual-info-modal">
          <div class="team-img">
            <img src="/img/team-2.png" alt="" class="img-responsive" />
          </div>
          <div
            class="team-description"
            data-description="John comes with a total of 20 years of experience in engineering and in building the best team of engineers. Having worked extensively at FAANG companies as well as startups, he has solved some of the toughest problems in Storage, Medical, and ML at the petabyte scale."
          >
            <h3 class="team-heading">John Gillotte</h3>
            <h4 class="team-heading--sub">Chief Architect</h4>
          </div>
        </div>

        <div class="swiper-slide team-row-col open-individual-info-modal">
          <div class="team-img">
            <img src="/img/team-3.png" alt="" class="img-responsive" />
          </div>
          <div
            class="team-description"
            data-description="Indranil is a seasoned ML professional with 15+ years of experience. An alumnus of IIT Kharagpur and ISI Calcutta, he is highly experienced in Mathematical Modelling, Classical ML and NLP, and is a key contributor in multiple US patents and publications for top tech companies like Samsung R&D, Microsoft, United Heal Group."
          >
            <h3 class="team-heading">Indranil Basu</h3>
            <h4 class="team-heading--sub">Principal Data Science Advisor</h4>
          </div>
        </div>

        <div class="swiper-slide team-row-col open-individual-info-modal">
          <div class="team-img">
            <img src="/img/team-4.png" alt="" class="img-responsive" />
          </div>
          <div
            class="team-description"
            data-description="Aditya is an AI Researcher, an author, and an experienced Data Scientist with around 7 years of experience in Data Science, Machine Learning, and Software Engineering. He has contributed to AI product development and research in several organizations such as Intel, Microsoft, West Pharmaceuticals, and KU Leuven."
          >
            <h3 class="team-heading">Aditya Bhattachariya</h3>
            <h4 class="team-heading--sub">
              Principal Data Science & Engineering Advisor
            </h4>
          </div>
        </div>

        <div class="swiper-slide team-row-col open-individual-info-modal">
          <div class="team-img">
            <img src="/img/team-5.png" alt="" class="img-responsive" />
          </div>
          <div
            class="team-description"
            data-description="Doctoral Student from Saha Institute of Nuclear Physics, India, currently working in Experimental High Energy Physics at the CMS experiment, CERN with 5+ years of work experience in LHC data analysis and software development using C++, Python, ROOT and CMS Software (CMSSW)."
          >
            <h3 class="team-heading">Gourab Saha</h3>
            <h4 class="team-heading--sub">Data Scientist</h4>
          </div>
        </div>

        <div class="swiper-slide team-row-col open-individual-info-modal">
          <div class="team-img">
            <img src="/img/team-6.png" alt="" class="img-responsive" />
          </div>
          <div
            class="team-description"
            data-description="Overall 19 years of varied experience in the field of academics, economics, data analytics, business intelligence, econometric modelling, training and development, recruitment and selection, people analytics, research analyst and areas of management. Member of Royal Economic Society, UK."
          >
            <h3 class="team-heading">Abhijit Biswas</h3>
            <h4 class="team-heading--sub">Data Science & Talent Advisor</h4>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-buttons">
      <div class="industries-swiper__button team-swiper__prev">
        <img src="/img/arrow.svg" alt="" />
      </div>
      <div class="industries-swiper__button team-swiper__next">
        <img src="/img/arrow.svg" alt="" style="transform: rotate(180deg)" />
      </div>
    </div>
  </div>
</section>

<div class="individual-info-container" id="individual-info-modal">
  <div id="individual-info-close" type="button">X</div>
  <div class="d-flex h-100">
    <div class="container d-flex align-items-center">
      <div id="individual-info-data">
        <h1>Nissan Ali</h1>
        <h4>Founder & AI/ML Engineer</h4>
        <p>
          Nishan is a full stack data scientist with 6 years of experience
          across diversified areas of AI/ML; Healthcare, CRM, Sourcing and HR
          Analytics. He has been instrumental in building high performance end
          to end products of AI/ML.
        </p>
      </div>
    </div>
  </div>
</div>
