//This is an example of how you can change BS5 variables. Just add the changed variables here and they will overwrite the defaults.
// We changed the default font and the default $blue color (which is set as $primary as well)
$blue: #0080C6;
$black: #000;
$green: #2CB8B4;
$grey: #BBBBBA;
$lightBlue: #ADDBEF;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Teko', sans-serif;
