---
layout: layouts/base.njk
---

<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <h1 class="heading-1 text-uppercase">
          Transforming<br />Business with<br />
          <span class="hilight">Intelligence</span>
        </h1>
        <p class="text-bold">
          We are a strong team of dedicated individuals, constantly pushing
          ourselves beyond our limits, from simply being an AI transformation
          organization to becoming a leader in enabling global AI
          transformation.
        </p>
        <div class="row">
          <div class="col-md-6 col-sm-12 mt-2">
            <button class="btn btn-primary text-uppercase">
              Learn More
            </button>
          </div>
          <div class="col-md-6 col-sm-12 mt-2">
            <button class="btn btn-outline-dark text-uppercase">
              Request a quote
            </button>
          </div>
        </div>
      </div>

      <div
        class="col-md-7 col-sm-12 d-flex justify-content-center justify-content-md-end justify-content-sm-center pt-5 pt-md-0 pt-sm-4"
      >
        <div class="shape-after w-75">
          <img
            src="/img/landing-page-shape-min.png"
            alt=""
            class="shape-after-img"
          />
          <img src="/img/image-003.png" alt="" class="shape-after-main" />
        </div>
      </div>
    </div>
  </div>
</header>

<section class="our-vision">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 mt-md-5 mt-sm-0">
        <h1 class="heading-1 with-dots">Our<br />Vision</h1>
        <p class="paragraph-m">
          To create a one-stop solution for high-performance AI and ML
          deliverables in a world of rapid digital transformation
        </p>
      </div>
      <div class="col-md-8 col-sm-12 our-vision__hero">
        <picture class="img-responsive our-vission__hero--picture">
          <source srcset="/img/landing-mission-min.webp" type="image/webp" />
          <source srcset="/img/landing-mission-min.png" type="image/png" />
          <img
            src="/img/landing-mission-min.png"
            class="our-vission__hero--img"
          />
        </picture>
        <div class="our-vision__hero--info">
          <div class="row">
            <div class="col-md-2 col-sm-12"></div>
            <div class="col-md-8 col-sm-12">
              <h1 class="heading-1">Our Mission</h1>
              <p class="paragraph-m">
                To understand how your business works, resolve bottlenecks, and
                accelerate business deliveries
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="clients-trust">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h1 class="heading-1 with-dots">Clients who Trust Us</h1>
        <p class="paragraph-m">
          Client service is the backbone of any successful business. It's not
          just about providing a satisfactory experience, but going above and
          beyond to exceed the expectations of your customers. This requires
          having a deep understanding of their needs and providing personalized
          solutions to meet them.
        </p>
      </div>
    </div>

    <div class="row d-none">
      <div class="col-12">
        <picture class="img-responsive clients-trust__hero--picture">
          <source srcset="/img/clients-main.webp" type="image/webp" />
          <source srcset="/img/clients-main.jpg" type="image/jpeg" />
          <img src="/img/clients-main.jpg" class="our-vission__hero--img" />
        </picture>
      </div>
    </div>
    <div class="client-image-row">
      {# <div class="client-image-wrapper">
        <img src="/img/client-1.png" class="img-responsive" alt="" />
      </div>
      <div class="client-image-wrapper">
        <img src="/img/client-2.png" class="img-responsive" alt="" />
      </div>
      <div class="client-image-wrapper">
        <img src="/img/client-4.png" class="img-responsive" alt="" />
      </div>
      <div class="client-image-wrapper">
        <img src="/img/client-3.png" class="img-responsive" alt="" />
      </div>
    </div>
  </div> #}
   <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="./Neurologic_files/client-1.png" height="80" width="300" alt="" />
          </div>
          <div class="slide">
            <img src="./Neurologic_files/client-3.png" height="100" width="300" alt="" />
          </div>
          <div class="slide">
            <img src="./Neurologic_files/client-2.png" height="100" width="300" alt="" />
          </div>
          <div class="slide">
            <img src="./Neurologic_files/client-4.png" height="100" width="300" alt="" />
          </div>
          <div class="slide">
            <img src="./Neurologic_files/client-5.jpeg" height="100" width="250" alt="" />
          </div> 
          <div class="slide">
            <img src="./Neurologic_files/client-6.jpg" height="80" width="220" alt="" style="margin: 0px 40px" />
          </div> 
          <div class="slide">
            <img src="./Neurologic_files/client-7.png" height="80" width="200" alt="" style="margin-right: 50px;" />
          </div>
        </div>
      </div>
</section>

<section class="industries">
  <div class="container">
    <h1 class="heading-1 with-dots">Services</h1>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for item in servicesSlider %}
        <div class="swiper-slide">
          <div class="circle-card industries__card">
            <div class="card-image industries__card--picture">
              <a href="{{ item.link }}">
              <picture class="img-responsive industries__card--image">
                <source
                  srcset="{{ item.image }}"
                  type="image/png"
                />
                <img
                  src="{{ item.image }}"
                  class="industries__card--img"
                />
              </picture>
              </a>
            </div>
            <div class="industries__card--description">
              <h3><a href="{{ item.link }}" class="link-unstyled text-reset text-decoration-none">{{ item.name }}</a></h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-buttons">
      <div class="industries-swiper__button industries-swiper__prev">
        <img src="/img/arrow.svg" alt="" />
      </div>
      <div class="industries-swiper__button industries-swiper__next">
        <img src="/img/arrow.svg" alt="" style="transform: rotate(180deg)" />
      </div>
    </div>
  </div>
</section>

<section class="solutions d-none">
  <div class="container">
    <h1 class="heading-1 with-dots">Solutions Based On Your Needs</h1>
  </div>
  <div class="industries-solutions">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row ">
            <div class="col-md-3 col-sm-12">
              <div class="industries-solutions--icon">
                <img src="/img/solution-icon-1.png" alt="" />
              </div>
            </div>
            <div class="col-md-9 col-sm-12">
              <h2 class="heading-2">Need to scale?</h2>
              <p class="paragraph-m industries-solutions--paragraph">
                Our network of over 1,000,000 re- motely located experts is
                standing by for your tasks. We use a com- prehensive talent
                selection strate- gy to ensure your data is handled by the most
                suitable and best-trained workers, wherever they are.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row ">
            <div class="col-md-3 col-sm-12">
              <div class="industries-solutions--icon">
                <img src="/img/solution-icon-1.png" alt="" />
              </div>
            </div>
            <div class="col-md-9 col-sm-12 ">
              <h2 class="heading-2">Need talent?</h2>
              <p class="paragraph-m industries-solutions--paragraph">
                TransPerfect can help you expand your team with computational
                linguists or annotation experts. By screening, hiring, and
                training the talent needed for your requirements, you don't have
                to worry about administrative- and HR-re- lated matters involved
                with staffing these teams in-house again.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row ">
            <div class="col-md-3 col-sm-12">
              <div class="industries-solutions--icon">
                <img src="/img/solution-icon-1.png" alt="" />
              </div>
            </div>
            <div class="col-md-9 col-sm-12 ">
              <h2 class="heading-2">Need security?</h2>
              <p class="paragraph-m industries-solutions--paragraph">
                Our customers value high confidenti- ality standards as a means
                of protect- ing their IP. We are ISO-certified, maintain secure
                premises, and will implement customer-specific policies you may
                require.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row ">
            <div class="col-md-3 col-sm-12">
              <div class="industries-solutions--icon">
                <img src="/img/solution-icon-1.png" class="" alt="" />
              </div>
            </div>
            <div class="col-md-9 col-sm-12 ">
              <h2 class="heading-2">Need on-site resources?</h2>
              <p class="paragraph-m industries-solutions--paragraph">
                We staff hundreds of annotators on premise who handle a variety
                of deliver- ables. For continuous, long-term proj- ects that
                require highly skilled workers with experience in different
                types of an- notations, this model is the best blend of
                convenience and commitment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include 'snippets/team.njk' %}
{% include 'snippets/smartplatform.njk' %}
{% include 'snippets/form.njk' %}
