
.service-header{
    background-size: cover;
    min-height: 70vh;
    padding: 30px 0px;
}
.service__header--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}
.service{
    &--title{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &--subtitle{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &--description{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &--request-button{
        max-width: 200px;
        background-color: $blue;
        color: #fff;
    }
}

.service-content--paragraph p{
    line-height: 1.8; 
}